.navbar 
{
  display: flex;
  justify-content: space-between;
  background: rgb(40, 38, 38);
  height: 50px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.brand,.links 
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.brand img 
{
  width: 40px;
  margin-right: 0.6em;
}

.brand h2 
{
  transition: 0.4s;
  color: #fff;
}


.brand:hover > h2 
{
  color: rgb(6, 233, 225); 
}

.links li 
{
  margin-right: 1em;
  list-style: none;
}

.links a 
{
  padding: 0.1em 0.3em;
  text-decoration: none;
  color: #fff;
}

.links li :hover 
{
  color: rgb(26, 218, 215);
}

.menu-left
{
  display: none;
}

.menu-walpper
{
  overflow-x: hidden;
  overflow-y: inherit;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgb(42, 38, 38);
  width: 18%;
}

.botoes
{
  margin-right: 2%;
  height: 50px;
}

.botoes a:hover
{
  box-shadow: 0 0.1rem 0 0 rgb(6, 233, 225);
  text-decoration: none;
   
}

.botoes ul
{
  margin-top: 10px;
}

.botoes  a
{
  color: #f5f5f5;
  font-size: 18px;
  margin-right: 25px;   
}

.botoes  i
{
  color: #dfdbdb;
  font-size: 18px;
  margin-right: 5px;
}

.header-title
{
  width: 100%;
  height: 60px;
  position: relative;
  border-bottom: 2px solid rgb(6, 233, 225);
}

.header-title p 
{
  color: #f5f5f5;
  padding-top: 11px;
  font-size: 20px;
}

.box-usuario
{
  max-height: 250px;
  margin-top: 10px;
  border-bottom: 2px solid #222;
    
}

.box-usuario p 
{
  color: #f5f5f5;
  font-size: 22px;
}

.box-usuario img
{
  max-width: 50%;
  max-height: 50%;
  min-width: 50%;
  min-height: 50%;
  margin-left: 25%;   
}


.box-itens a
{
  display: block;
	padding: 4px;
	font-weight: 300;
	font-size: 18px;
	text-decoration: none;
	color: darkgray;
	border-bottom: 2px solid #222;    
}

.box-itens i
{
  margin-left: 5px;    
  margin-right: 10px;
  color: floralwhite;
}

.box-itens h2
{
  display: block;
	font-size: 22px;
	text-decoration: none;
	color: white;
  background: rgb(13, 237, 229);     
  padding: 5px; 
  margin-bottom: 0px;
}

.box-itens a:hover
{
  background: #222;
  border-left: 4px solid rgb(13, 237, 229);      
}


::-webkit-scrollbar
{
  width: 10px;
}

::-webkit-scrollbar-track 
{
  background: darkgray;
}

::-webkit-scrollbar-thumb 
{
  background: dimgrey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover 
{
  background: dimgray; 
}

#menu::-webkit-scrollbar
{
  width: 10px;
}

#menu::-webkit-scrollbar-track 
{
  background: darkgray;
}

#menu::-webkit-scrollbar-thumb 
{
  background: dimgrey;
}
   
#menu::-webkit-scrollbar-thumb:hover 
{
  background: dimgray; 
}

.menu
{
	position: fixed;
  top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 101;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.menu.active
{
	visibility: visible;
	opacity: 1;
}

.menu_container
{
	width: 100%;
  height: 100%;
}

.menu_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
	background-color: rgb(13, 237, 229);   
	background-image: linear-gradient(to right, #000,);
	background: rgb(13, 237, 229);   
	background: linear-gradient(to right, #000,  rgba(3, 1, 1, 1));
  opacity: 0.95;
}

.menu_close
{
	position: fixed;
	top: 20px;
  right: 25px;
  cursor: pointer;
}

.menu_close i
{
	font-size: 28px;
  color: rgb(13, 237, 229);   
}

.menu_content
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 90%;
  overflow-y: auto;
    
}

.menu_nav ul  a
{
  color: #fff;
  padding-top: 6px;
  background: transparent;
  font-size: 20px;
  text-decoration: none;  
}

.menu_nav ul li
{
  margin-top: 15px;
  text-align: center;
  list-style-type: none;
}

.menu_nav > .title-menu
{
  text-align: center;
  border-bottom: 3px solid rgb(13, 237, 229);   
  padding: 5px;
  font-size: 22px;
  color: #fff;
  min-width: 100%;
  background: transparent;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium ', 'Arial Narrow', Arial, sans-serif;
}


.menu_nav
{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.img-usuer img 
{
  margin-top: 30px;
  margin-left: 22%;
  min-width: 55%;
  max-width: 55%;
  max-height: 140px;  
}

.title-ul
{
  color: rgb(13, 237, 229);  
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(13, 237, 229);  
}

@media (max-width: 1200px) 
{
      .menu-walpper
      {
            display: none;
      }

      .botoes 
      {
            display: none;
      }


}

@media (max-width: 720px)
{
    .brand h2,.links 
    {
        display: none;
    }

    .menu-left
    {
      display: block;
    }

    .hamburger
    {
        display: block;
        float: right;
        background: transparent;
        border: none;
        color: #fff;
        padding-top: 2px;
        padding-left: 8px;
        margin-right: 20px;
        margin-top: 0px;
    }

    .hamburger i 
    {
        font-size: 28px;
    }

    .brand img 
    {
       margin-top: -10px;
    }

   
}