.home-container 
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 672px;
}

.container
{
  height: 250px; 
  width: 95%;
  background: rgb(60, 60, 60);
  border-radius: 10px 10px 10px 10px;
}

.container > p
{
  color: #fff;
  text-align: center;
  font-size: 28px;
  margin-top: 100px;
}

.container-text
{
  width: 93%;
  margin-top: 50px;
  text-align: justify;
}

.title-container-text
{
  text-align: center;
  margin-bottom: 30px;
}


