<form class="card-from" (ngSubmit)="submit()" [formGroup]="ProductForm" #formDir="ngForm">
  <div class="form-group">
    <input type="hidden" formControlName="id" />
  </div>
  <div class="form-group">
    <label for="name">Nome</label>
    <input
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Coloque um nome"
      required
    />

    <div *ngIf="name.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="name.errors?.['required']">O Nome é obrigatório.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="count">Quantidade</label>
    <input
      type="number"
      class="form-control"
      formControlName="count"
      placeholder="Coloque a quantidade"
      required
    />

    <div *ngIf="count.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="count.errors?.['required']">A Quantidade é obrigatório.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="category">Categoria</label>
    <input
      type="text"
      class="form-control"
      formControlName="category"
      placeholder="Coloque uma Categoria"
      required
    />

    <div *ngIf="category.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="category.errors?.['required']">A Categoria é obrigatório.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Descrição:</label>
    <textarea
      class="form-control"
      formControlName="description"
      placeholder="O que aconteceu lá?"
    ></textarea>
    <div
      *ngIf="description.invalid && formDir.submitted"
      class="validation-error"
    >
      <p *ngIf="description.errors?.['required']">A descrição é obrigatória.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="image">Coloque a foto que mais marcou:</label>
    <input
      type="file"
      (change)="onFileSelected($event)"
    />
  </div>
  <input class="btn btn-primary" type="submit" value="{{ btnText }}" />
</form>
